{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<body>
<main>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 140 x 140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">(•ิ_•ิ)?</text></svg>

        <h2><font style="vertical-align: inherit;"><font face="Century Gothic">я не знаю зачем нужен этот круг</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">короче это сайт-форум, где ты можешь делиться какой-то информацией</font><font style="vertical-align: inherit;"></font> с другими пользователямиヽ(￣(ｴ)￣)ﾉ</font></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 140 x 140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">(•ิ_•ิ)?</text></svg>


        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Но для этого тебе нужно</font><font style="vertical-align: inherit;"></font> зарегистрировать аккаунт ⊂(￣(ｴ)￣)⊃</font></p>
        <p><a class="btn btn-secondary" href="/about"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Зарегистрировать</font></font></a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 140 x 140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">(•ิ_•ิ)?</text></svg>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(•ิ_•ิ)?</font></font></p>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font face="Century Gothic">Кстати мой друг сделал игру(︶︹︺) </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Она взорвёт ваш разум(нет)</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"> → https://play.google.com/store/apps/details?id=com.Mr_hat.NEO ← <font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"> Полная кастомизация игры и захватывающий геймплей ждут тебя!

Настрой игру полностью под себя, начиная с выбора сложности и заканчивая собственным уникальным узором! Сократи нудные часы ожидания вместе с NEO!</font></font></p>
      </div>
      <div class="col-md-5">
       <img src="static/img/cаша_кар_карыч.png">
      </div>
    </div>
  </div>
</main>
{% endblock %}
